<span class="create_link"><%= link_to 'New Article', new_article_path %></span>
<h1>Listing articles</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

  <%= render(partial: 'article', collection: @articles) %>

<br />
 <p><%= will_paginate @articles %></p>

