<span class="create_link"><%= link_to 'New News', new_news_path %></span>
<h1>Listing news</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= render(partial: 'news', collection: @news) %>
<br />

