/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #content {
   margin: 0 auto;
   width: 900px;
 }
 td.menu{
   vertical-align: top;
   width: 120px;
 }
 #content .menu ul{
   list-style-type:none;
 }
  #content .menu ul >li {
  margin: 5px 0;
}   
div.controlls {
     background: lightblue;
     padding: 3px;
         border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}
a.hidden_link {
    text-decoration: none;
}
a.hidden_link:hover {
    text-decoration: none;
    background:  none;
    color:black;
    cursor: default;
}

span.create_link{
    float: right;
    color: red;
    font-weight: bold;
    padding: 3px;
    border: 2px solid red;
     border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}
td.content{
    vertical-align: top;
}